<h2>Photo gallery</h2>


<div id="top" class="top">
  <h1> <span>Made By: <a href="http://codepen.io/AlexO/">Alex & Lawerence</a></span></h1>
</div>

<h1>3D Cube - <span>wave your hand or use the arrow key to rotate the cube, gesture recognition only works in Chrome and Firefox</span>
</h1>



<% photos.each do |photo| %>
<form action="/photos/<%= photo.id %>/delete" method="post">
        <input type="submit" value= "delete">
      </form>
      <h1>Title:  <%= photo.title %> </h1> 
      <p><%= photo.created_at.strftime('%A, %B %-d, %Y') %></p>



<div class="separator"></div>

<div id="experiment">
  <div id="cube">
    <div class="face one">
      <img src="/uploads/<%= photo.filename %>"></img>
    </div>
    <div class="face two">
      <img src="/uploads/<%= photo.filename %>"></img>
    </div>
    <div class="face three">
      <img src="/uploads/<%= photo.filename %>"></img>
    </div>
    <div class="face four">
      <img src="/uploads/<%= photo.filename %>"></img>
    </div>
    <div class="face five">
      <img src="http://www.jonathanphotos.com/Pictures/Asia%20web/China/Shanghai/Dali%20Clock%20in%20Downtown%20Shanghai%20web%201000%20n%2072.jpg" alt=""></img>
    </div>
    <div class="face six">
      <img src="http://blog.art.com/wp-content/uploads/2013/10/salvador-dali-the-city-of-the-drawers_i-G-8-817-OBFY000Z.jpg" alt=""></img>
    </div>
  </div>
</div>


 <% end %>



<div id="photo-form">

  <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="text" name="title" placeholder="Image Title">
      <input type="file" name="file">
      <input type="text" name="description" placeholder="Image Description">
      <input type="submit" value="Upload image">
  </form>
  
</div>

<ol class="photo-list">
  <% photos.each do |photo| %>
    <li>
      <form action="/photos/<%= photo.id %>/delete" method="post">
        <input type="submit" value= "delete">
      </form>
      <h1>Title:  <%= photo.title %> </h1> 
      <p><%= photo.created_at.strftime('%A, %B %-d, %Y') %></p>
      <img src="/uploads/<%= photo.filename %>">
      <p><%= photo.description %> </p>
      <div class="comments">
        <form action="/photos/<%= photo.id %>/comments" method="post">
          <textarea name="contents" placeholder="Comments"></textarea>
          <input type="submit" value="post comments">
        </form>
      </div>
      <ul>
        <% photo.comments.each do |comment| %>
          <li>
            <p><%= comment.contents %>
            <a style="margin-left:100px">--- <%= photo.created_at.strftime('%A, %B %-d, %Y') %></a>
            </p>
            <form action="/comments/<%= comment.id %>/delete" method="post">
              <input type="submit" value= "delete">
            </form>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>
 
